* { 
    font-family: courier; 
    box-sizing:border-box;
  }
  
  html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
    min-height:100%; 
  }

  .half-width {
    float: left;
    margin-right: 5%;
    width: 45%;
  }
  
  .custom-input {
    border: none;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    width: 250px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    line-height: 1.5;
    display: inline-block;
    padding: 10px;
    transition: all .3s ease-in-out;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-group input + label {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px 0 0 4px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    line-height: 1.5;
    padding: 10px;
    position:absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-in;
  }
  
  .input-group input:focus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  /* label stay aside if user entered any text */
  .input-group input:valid + label,
  .input-group input:focus + label {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transform: translateX(-100%);
  }
  
  input[type="submit"] {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    line-height: 1.5;
    padding: 10px;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  
  /* some animation effects  */
  input[type="submit"]:hover, 
  input[type="submit"]:focus {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3), 0 1px rgba(255, 255, 255, 0.4);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  }
  
  textarea {
    border: none;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    line-height: 1.5;
    display: inline-block;
    padding: 10px;
    width: 100%;
    height: 150px;
    transition: all .3s ease-in-out;
  }
  
  textarea:focus {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
  
  /*star rating in form*/
  .star-rating {
      direction: rtl;
      display: inline-block;
      padding: 20px 0;
      font-size: 1.5em;
  }
  
  .star-rating input {
      display: none;
  }
  
  .star-rating label {
      color: #ccc;
      cursor: pointer;
  }
  
  /* Color of the stars when hovered or checked */
  .star-rating label:hover, 
  .star-rating label:hover ~ label, 
  .star-rating input:checked ~ label {
      color: #242323;  
  }
  
  /* album list view  */
  .album-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .album-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .album-cover img {
    height: 100px;
    width: 100px;
  }
  
  .album-details h3, .album-details p {
    margin: 0;
  }
  
  /* genre background color identification */
  .album-genre {
    padding: 2px 5px;
    margin-top: 10px;
    display: inline-block;
  }
  
  .album-genre.rock {
    background-color: #a86a6a;
  }
  
  .album-genre.pop {
    background-color: #b27e64;
  }
  
  .album-genre.hiphop {
    background-color: #b085279d;
  }
  
  .album-genre.country {
    background-color: #8490429d;
  }
  
  .album-genre.jazz {
    background-color: #4d8e8a9d;
  }
  
  .album-genre.electronic {
    background-color: #609cd49d;
  }
  
  .album-genre.metal {
    background-color: #aa72b89d;
  }

  /* header formats */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
    z-index: 100; /* as it need to appear both on landing and overlay contents */
  }
  
  
  /* hidden search bar */
  .hidden {
    display: none;
  }
  
  
  .title {
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    line-height: 1.2;
  }
  
  .icon {
    font-size: 25px;
  }
  
  /* left/right grid Layout */
  .grid {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grid .column {
    /* position: relative;
    overflow: hidden; */
    width: 50%;
    /* text-align: center; */
    cursor: pointer;
  }

  .grid .column img {
    position: relative;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
  }

  .grid .column .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .grid .column .content::before,
  .grid .column .content::after {
      pointer-events: none;
  }
  
  .grid .column h2 {
      word-spacing: -0.15rem;
      font-weight: 300;
  }
  
  .grid .column h2 span {
    display: block;
      font-weight: 800;
    font-size: 2.8rem;
  }
  
  .grid .column h2,
  .grid .column p {
      margin: 0;
  }
  
  .grid .column p {
      letter-spacing: 1px;
      font-size: 68.5%;
  }
  
  .logo{
    display: inline;
    position: absolute;
    top: 12%;
    left:50%;
    text-align: center;
  }

  .logo img{
      max-width: 110px;
  }

  #west{
    background: url("pics/left_side.png") no-repeat center right;
    background-size: cover;
  }

  #east{
    background: url("pics/right_side.png") no-repeat center bottom;
    background-size: cover;
  }

  /* landing filter for pic */
  #east .content{
    background: rgba(32, 28, 28, 0.5);
  }

  /* hover effects */
  .effect-hover h3,
  .effect-hover h4,
  .effect-hover p,
  .effect-hover i{
      -webkit-transition: opacity 0.35s, 
      -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
  }
  
  .effect-hover .content::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 300px;
      border: 3px solid #fff;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
      transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  }
  
  .effect-hover p:hover,
  .effect-hover p:focus {
      opacity: 0.6;
  } /* consistency style */
  
  
  .effect-hover p,
  .effect-hover h4{
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
  }
  
  .effect-hover:hover .content::before {
      opacity: 1;
      -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
      transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
  }
  
  .effect-hover:hover h3 {
      opacity: 0;
      -webkit-transform:  scale3d(0.8,0.8,1);
      transform: scale3d(0.8,0.8,1);
  }
  .effect-hover:hover h4,
  .effect-hover:hover p{
      opacity: 1;
  }
  .effect-hover:hover i{
    -webkit-transform:  scale3d(2.5,2.5,2);
      transform: scale3d(2.5,2.5,2);
  }
  
  /* Overlays */
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: auto; /* Make the overlay page scrollable */
    background: #fff; 
  }
  
  /* header overlay index change */
  #west-overlay, #east-overlay {
    z-index: 2; 
  }
  
  /* overlay grid */
  .overlay.open{
    display: flex;
    width: 100%;
    height: 100%; /* Set full width and height for overlay */
    background-color: transparent;
  }
  .overlay .grid{
  background-color: #3B3F46;
  overflow-y: auto; /* to contain all the info on album list page */
  top: 10%; /* to prevent the header covering the grid content */
  }

  .overlay .column{
    display: flex;
    /* height: flex; */
    align-items: center;
    justify-content: center;
  }

  .overlay img{vertical-align: bottom;}
  .product-content{
    align-content: left;
    justify-content: left;
    /* font-size: 1.4rem; */
    /* max-width: 400px; */
  }


  /* Close Icon animated */
  .close-icon{
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 13%;
    right: 2%;
  }
  
  /* cubic beziers http://cubic-bezier.com/ */
  .close-icon div {
      display: block;
      height: 3px;
      position: relative;
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      width: 36px;
    
  }
  .close-icon div:first-child {
      transform: translate3d(0px, 10px, 0px) rotate3d(0, 0, 1, -45deg);
  }
  .close-icon div:first-child::after, .close-icon div:first-child::before {
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .close-icon div:last-child {
      transform: translate3d(0px, 8px, 0px) rotate3d(0, 0, 1, 45deg);
  }
  .close-icon div:last-child::after, .close-icon div:last-child::before {
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;
  }
  .close-icon div::after, .close-icon div::before {
      content: "";
      display: block;
      height: 100%;
      pointer-events: none;
      position: absolute;
      width: 100%;
  }
  
  /* close icon visibility before */
  .close-icon div::before {
    background: none repeat scroll 0 0 #34d5cf;
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
  }
  
  /* close icon hidden */
  .close-icon div::after {
    background: none repeat scroll 0 0 #ead918;
      opacity: 0;
      transform: translate3d(100%, 0px, 0px);
  }
  .close-icon:hover div::before {
      opacity: 0;
      transform: translate3d(-100%, 0px, 0px);
  }
  .close-icon:hover div::after {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
  }
