form {
    background-color: #ffffff;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form select,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  select {
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    border:none; 
    border-radius: 4px;
}

  .star-rating {
    display: inline-block;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label {
    color: #ddd;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;  /* padding to space out the stars */
  }
  
  .star-rating input:checked ~ label,
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #fde16d;
  }
  
  /*stars fill in from the right (sliding system)*/
  .star-rating label {
    float: right;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #2980b9;
  }
  
  