hr {
  border: 0;
  margin-bottom: 25px;
}

body {
  background: #3B3F46;
  /* font-family: 'Lato', sans-serif; */
  font-family: courier, 'Lato';
  font-weight: 300;
  font-size: 15px;
  padding: 50px 50px 50px 100px;
}

.demo-label {
  color: #fff;
  font-size: 18px;
}

.half-width {
  float: left;
  margin-right: 5%;
  width: 45%;
}

.custom-input {
  border: none;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: 250px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  line-height: 1.5;
  display: inline-block;
  padding: 10px;
  transition: all .3s ease-in-out;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input + label {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 4px 0 0 4px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  line-height: 1.5;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .3s ease-in;
}

.input-group input:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* label stay aside if user entered any text */
.input-group input:valid + label,
.input-group input:focus + label {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  transform: translateX(-100%);
}

input[type="submit"] {
  border: none;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  line-height: 1.5;
  padding: 10px;
  width: 100%;
  transition: all .3s ease-in-out;
}

/* some animation effects  */
input[type="submit"]:hover, 
input[type="submit"]:focus {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3), 0 1px rgba(255, 255, 255, 0.4);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

textarea {
  border: none;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  line-height: 1.5;
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 150px;
  transition: all .3s ease-in-out;
}

textarea:focus {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

/*star rating */
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px 0;
    font-size: 1.5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating label:hover, 
.star-rating label:hover ~ label, 
.star-rating input:checked ~ label {
    color: #f5d130; 
    /* Color of the stars when hovered or checked */
}

/* targting the duration label*/
/* .input-group input:nth-child(1):focus + label,
.input-group input:nth-child(1):valid + label {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  transform: translateX(-100%);
}

.input-group input:nth-child(3):focus + label,
.input-group input:nth-child(3):valid + label {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  transform: translateX(-100%);
} */
